@page "/Admin/Inventory/Manage/"
@page "/Admin/Inventory/Manage/{inventoryId:int}"
@inject NavigationManager navManager;
@inject Blazored.SessionStorage.ISessionStorageService session
@using WebPOS.BlazorUI.Shared.Components.Notification
<MudGrid>
    <MudItem xs="12">
        <MudPaper Elevation="6" Style="padding:2em; width:50%; margin:auto;">
            <MudText Typo="Typo.h6" Style="margin-bottom:1em"> @if (inventoryId == 0) {<span>Add</span> } else {<span>Update</span >} Inventory:</MudText>
            <MudForm @ref="formModel" @bind-IsValid="formIsvalid" @bind-Errors="formErrors">
                <MudTextField T="string" Label="Description" Required="true" @bind-Value="@dataModel.Description" @onkeyup="EnterKeyPress" RequiredError="Inventory description is required!" />
                <MudTextField T="double" Label="Quantity" @onkeyup="EnterKeyPress" @bind-Value="@dataModel.Quantity" />
                <MudTextField T="string" Label="UOM" @onkeyup="EnterKeyPress" @bind-Value="@dataModel.UOM" />
                <MudTextField T="double" Label="Retail Price" @onkeyup="EnterKeyPress" @bind-Value="@dataModel.RetailPrice" />
                <MudTextField T="double" Label="Wholesale Price" @onkeyup="EnterKeyPress" @bind-Value="@dataModel.WholesalePrice" />
                <WebPOS.BlazorUI.Shared.Components.SelectInputSearch.SelectInputSearch itemList="selectModel" SelectItemChange="SelectItemChange"  defaultValue="@dataModel.ProductId"/>
            </MudForm>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@ExecuteForm" Class="mt-4" Style="width:100%">Save</MudButton>
        </MudPaper>
    </MudItem>
</MudGrid>
@if (notif?.ResultMsg != null)
{
    <StandardTextNotif Result="notif" />
}
@code {
    [Parameter]
    public int inventoryId { get; set; }

    public ViewModel.InventoryManageModel dataModel = new();
    private Business.Helpers.ResultHandler notif = new();

    MudForm formModel;
    bool formIsvalid;
    string[] formErrors = { };

    protected async override Task OnInitializedAsync()
    {
        if (inventoryId != 0)
        {
            using (var DbAccess = new Business.Product.Facades.Inventory())
            {
                var _Model = await DbAccess.GetById(inventoryId);
                if (_Model == null)
                {
                    await session.SetItemAsync(Business.Globals.SessionNotifName, new Business.Helpers.ResultHandler() { ResultMsg = "Inventory not found on database, please contact your administrator.", Result = false });
                    navManager.NavigateTo("/Admin/Inventory");
                }
                else
                {
                    dataModel = ViewModel.InventoryManageModel.ToModel(_Model);
                }
            }
        }
        using (var DbAccessCategory = new Business.Product.Facades.Product())
        {
            var _CModel = await DbAccessCategory.GetAll();
            selectModel = _CModel != null ? _CModel.Select(i => new Shared.Components.SelectInputSearch.SelectModel() { ItemValue = i.ProductId, ItemText = i.Name }).ToList() : null;

        }
    }
    private async Task ExecuteForm()
    {
        await formModel.Validate();
        if (formIsvalid)
        {
            if (!checkProduct())
            {
                notif = new Business.Helpers.ResultHandler() { ResultMsg = "Please enter valid category", Result = false };
            }
            else
            {
                using (var DbAccess = new Business.Product.Facades.Inventory())
                {
                    var model = ViewModel.InventoryManageModel.ToBusinessModel(dataModel);
                    Business.Helpers.ResultHandler result;
                    result = inventoryId != 0 ? await DbAccess.UpdateInventory(model) : await DbAccess.AddInventory(model);

                    await session.SetItemAsync(Business.Globals.SessionNotifName, new Business.Helpers.ResultHandler() { ResultMsg = result.ResultMsg, Result = result.Result });
                    navManager.NavigateTo("/Admin/Inventory");
                }
            }
        }
    }
    private bool checkProduct()
    {
        if (dataModel.ProductId == 0) return false;
        return true;
    }
    private bool SelectProduct(int productId)
    {
        if (productId == dataModel.ProductId) return true;
        return false;
    }
    private async Task EnterKeyPress(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            await ExecuteForm();
        }
    }
    private List<Shared.Components.SelectInputSearch.SelectModel> selectModel;
    private void SelectItemChange(int invId)
    {
        dataModel.ProductId = invId;
    }
}
