@page "/Admin/Project"

@using WebPOS.BlazorUI.Shared.Components.Modals
@using WebPOS.BlazorUI.Shared.Components.Notification
@inject Blazored.SessionStorage.ISessionStorageService session
@inject NavigationManager navManager;
<MudGrid>
    <MudItem xs="12" Style="padding:0"><MudText Typo="Typo.h6">Project List:</MudText></MudItem>
    <MudItem xs="12">
        <div class="data-controller">
            <MudButton Variant="Variant.Filled" @onclick="()=>AddClick()" EndIcon="@Icons.Material.Filled.AddBox" Color="Color.Primary">Add</MudButton>
            @if (selectedItem != null)
            {
                <MudButton Variant="Variant.Filled" @onclick="()=>UpdateClick()" EndIcon="@Icons.Material.Filled.Update" Color="Color.Primary">Update</MudButton>
                <MudButton Variant="Variant.Filled" @onclick="()=> { showConfirmModal = true; }" EndIcon="@Icons.Material.Filled.Delete" Color="Color.Primary">Delete</MudButton>
            }
        </div>
    </MudItem>
    <MudItem xs="12">
        <div class="c-table">
            <div class="c-table-header">
                <MudSpacer />
                <div class="c-table-search">
                    <MudTextField Margin="Margin.Dense" TextChanged="SearchItem" T="string" Label="Search" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.Search" />
                </div>
            </div>
            <div class="c-table-body text-center">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Project Id
                            </th>
                            <th>
                                Name
                            </th>
                            <th colspan="2">
                                Address
                            </th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">
                        @if (pageList != null)
                        {
                            foreach (var proj in pageList)
                            {
                                <tr class="@IsActive(proj.ProjectId)" @onclick="()=>RowClick(proj.ProjectId)">
                                    <td>
                                        @proj.ProjectId
                                    </td>
                                    <td>
                                        @proj.Name
                                    </td>
                                    <td colspan="2">
                                        @proj.Address
                                    </td>
                                    <td>
                                        @((Business.Enums.ProjectStatus)proj.StatusId)
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">
                                    No Records Found.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (pageList != null)
                {
                    <MudGrid>
                        <MudItem xs="12" Style="padding-bottom:0">
                            <em>Selected @pageList.Count() items out of @filteredList.Count() items.</em>
                        </MudItem>
                        @if (totalPage > 1)
                        {
                            <MudItem xs="12" Style="display:flex;justify-content:flex-end;padding:0">
                                    @if (currentPage > 1){
                                        <MudButton Variant="Variant.Filled" @onclick="() => PageBtnClick(false)" EndIcon="@Icons.Material.Filled.NavigateBefore" Color="Color.Primary" />
                                    }
                                    @if (currentPage < totalPage){
                                        <MudButton Variant="Variant.Filled" @onclick="() => PageBtnClick(true)" EndIcon="@Icons.Material.Filled.NavigateNext" Color="Color.Primary" />
                                    }
                            </MudItem>
                        }
                    </MudGrid>
                }
            </div>
        </div>
    </MudItem>
</MudGrid>
@if (notif?.ResultMsg != null)
{
    <StandardTextNotif Result="notif" />
}
@if (showConfirmModal)
{
    <ConfirmModal ConfirmationResult="getConfirmModalResult" DataName="project"></ConfirmModal>
}
@code {
    private List<ViewModel.ProjectViewModel> dataList;
    private int? selectedItem;
    private bool skipRenderOnce = false;
    private Business.Helpers.ResultHandler notif = new();

    private int currentPage = 1;
    private int totalPage = 0;
    private int rowPageCount = 5;
    private List<ViewModel.ProjectViewModel> filteredList;
    private List<ViewModel.ProjectViewModel> pageList;

    protected override bool ShouldRender()
    {
        if (skipRenderOnce)
        {
            skipRenderOnce = false;
            return false;
        }
        return true;
    }
    protected override async Task OnInitializedAsync()
    {
        using (var DbAccess = new Business.Project.Facades.Projects())
        {
            dataList = ViewModel.ProjectViewModel.ToModelList(await DbAccess.GetAll());
        }

        if (dataList != null)
        {
            filteredList = dataList;
            RefreshTablePage();
        }
        notif = await session.GetItemAsync<Business.Helpers.ResultHandler>(Business.Globals.SessionNotifName);
        await session.ClearAsync();
    }

    private void PageBtnClick(bool isNext)
    {
        currentPage = isNext ? currentPage + 1 : currentPage - 1;
        RefreshTablePage();
    }
    private void RefreshTablePage()
    {
        if (filteredList.Count() > 0)
        {
            var _totalPage = (decimal)filteredList.Count() / (decimal)rowPageCount;
            totalPage = Convert.ToInt32(Math.Ceiling(_totalPage));

            var firstItemPageIndex = currentPage > 1 ? (currentPage - 1) * rowPageCount : 0;
            var retrieveItemCount = (currentPage != totalPage) ? rowPageCount : (filteredList.Count() - ((currentPage - 1) * rowPageCount));
            pageList = filteredList.GetRange(firstItemPageIndex, retrieveItemCount).ToList();
        }
        else
        {
            pageList = null;
        }
    }
    private void RowClick(int id)
    {
        if (selectedItem == id) { showConfirmModal = false; }
        selectedItem = (selectedItem != id) ? id : null;
    }
    private string IsActive(int id)
    {
        return (selectedItem != null && id == selectedItem) ? "row-active" : "row-not-active";
    }

    private void UpdateClick()
    {
        string url = string.Format("/Admin/Project/Manage/{0}", selectedItem);
        navManager.NavigateTo(url);
    }
    private void AddClick()
    {
        navManager.NavigateTo("/Admin/Project/Manage/");
    }
    private async void DeleteClick()
    {
        using (var DbAccess = new Business.Project.Facades.Projects())
        {
            var _id = Convert.ToInt32(selectedItem);
            var result = await DbAccess.Remove(_id);
            if (result.Result)
            {
                dataList = dataList.Where(c => c.ProjectId != _id).ToList();
                filteredList = dataList;
                RefreshTablePage();
                selectedItem = null;
            }

            notif = new Business.Helpers.ResultHandler()
            {
                ResultMsg = result.ResultMsg,
                Result = result.Result,
            };
        }
    }
    private void SearchItem(string args)
    {
        var searchKey = args;
        if (string.IsNullOrEmpty(searchKey))
        {
            filteredList = dataList;
            RefreshTablePage();
            return;
        }
        filteredList = dataList.Where(c => c.Name.ToLower().Contains(searchKey)).ToList();
        RefreshTablePage();

    }

    private bool showConfirmModal = false;
    private void getConfirmModalResult(bool _result)
    {
        if (_result)
        {
            DeleteClick();
        }
        showConfirmModal = false;
    }
}
