@page "/Admin/Product"

@using WebPOS.BlazorUI.Shared.Components.Modals
@inject Blazored.SessionStorage.ISessionStorageService session
@inject NavigationManager navManager;
<div class="container">
    @if (notif?.ResultMsg != null)
    {
        <div class="row">
            <div class="error-notif ">
                <em>@notif.ResultMsg</em>
            </div>
        </div>
    }
    @if (showConfirmModal)
    {
        <div class="row">
            <ConfirmModal ConfirmationResult="getConfirmModalResult" DataName="product"></ConfirmModal>
        </div>
    }
    <div class="row m-2">
        <button class="btn btn-primary" @onclick="()=>AddClick()">Add Product</button>
    </div>
    @if (categoryModel != null)
    {
        <div class="row m-2">
            <select @onchange="ChangeCategoryFilter">
                <option value="0" selected>Select All</option>
                @foreach (var category in categoryModel)
                {
                    <option value="@category.CategoryId">@category.Name</option>
                }
            </select>
        </div>
    }
    <div class="row">
        <div class="c-table">
            <div class="c-table-header">
                <div class="c-table-search">
                    <span class="oi oi-magnifying-glass" />
                    <input type="text" name="search" @onchange="SearchItem" />
                </div>
            </div>
            <div class="c-table-body text-center">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Product Id
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Available
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (pageList != null)
                        {
                            foreach (var product in pageList)
                            {
                                <tr class="@IsActive(product.ProductId)" @onclick="()=>RowClick(product.ProductId)">
                                    <td>
                                        @product.ProductId
                                    </td>
                                    <td>
                                        @product.Name
                                    </td>
                                    <td>
                                        @product.Description
                                    </td>
                                    <td>
                                        @product.Quantity
                                    </td>
                                    <td>
                                        @(product.isAvailable ? "Yes" : "No")
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">
                                    No Records Found.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (pageList != null)
                {
                    <div>
                        <div class="row">
                            <em>Selected @pageList.Count() items out of @filteredList.Count() items.</em>
                        </div>
                        @if (totalPage > 1)
                        {
                            <div class="row">
                                @for (var pageIndex = 0; pageIndex < totalPage; pageIndex++)
                                {
                                    var btnCount = pageIndex + 1;
                                    <button class="btn btn-primary" @onclick="()=>PageBtnClick(btnCount)">@btnCount</button>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    @if (selectedItem != null)
    {
        <div class="row">
            <div class="data-controller">
                <button class="btn btn-primary" @onclick="()=>UpdateClick()">Update</button>
                <button type="button" class="btn btn-danger" @onclick="()=> { showConfirmModal = true; }">Delete</button>
            </div>
        </div>
    }
</div>

@code {
    private List<ViewModel.ProductVIewModel> dataList;
    private int? selectedItem;
    private bool skipRenderOnce = false;
    private Business.Helpers.ResultHandler notif = new();

    private int currentPage = 1;
    private int totalPage = 0;
    private int rowPageCount = 5;
    private List<ViewModel.ProductVIewModel> filteredList;
    private List<ViewModel.ProductVIewModel> pageList;

    private List<ViewModel.CategoryViewModel> categoryModel;

    protected override bool ShouldRender()
    {
        if (skipRenderOnce)
        {
            skipRenderOnce = false;
            return false;
        }
        return true;
    }
    protected override async Task OnInitializedAsync()
    {
        using (var DbAccess = new Business.Product.Facades.Product())
        {
            dataList = ViewModel.ProductVIewModel.ToModelList(await DbAccess.GetAll(true));
        }

        if (dataList != null)
        {
            filteredList = dataList;
            RefreshTablePage();
        }
        using (var DbAccessCateg = new Business.Product.Facades.Category()) {
            categoryModel = ViewModel.CategoryViewModel.ToModelList(await DbAccessCateg.GetAll());
        }

        notif = await session.GetItemAsync<Business.Helpers.ResultHandler>(Business.Globals.SessionNotifName);
        await session.ClearAsync();
    }

    private void PageBtnClick(int newPage)
    {
        if (currentPage != newPage)
        {
            currentPage = newPage;
            RefreshTablePage();
        }
        else
        {
            skipRenderOnce = true;
        }
    }
    private void RefreshTablePage()
    {
        if (filteredList.Count() > 0)
        {
            var _totalPage = (decimal)filteredList.Count() / (decimal)rowPageCount;
            totalPage = Convert.ToInt32(Math.Ceiling(_totalPage));

            var firstItemPageIndex = currentPage > 1 ? (currentPage - 1) * rowPageCount : 0;
            var retrieveItemCount = (currentPage != totalPage) ? rowPageCount : (filteredList.Count() - ((currentPage - 1) * rowPageCount));
            pageList = filteredList.GetRange(firstItemPageIndex, retrieveItemCount).ToList();
        }
        else
        {
            pageList = null;
        }
    }
    private void RowClick(int productId)
    {
        if (selectedItem == productId) { showConfirmModal = false; }
        selectedItem = (selectedItem != productId) ? productId : null;
    }
    private string IsActive(int productId)
    {
        return (selectedItem != null && productId == selectedItem) ? "row-active" : "row-not-active";
    }

    private void UpdateClick()
    {
        string url = string.Format("/Admin/Product/Manage/{0}", selectedItem);
        navManager.NavigateTo(url);
    }
    private void AddClick()
    {
        navManager.NavigateTo("/Admin/Product/Manage/");
    }
    private async void DeleteClick()
    {
        using (var DbAccess = new Business.Product.Facades.Product())
        {
            var _id = Convert.ToInt32(selectedItem);
            var result = await DbAccess.RemoveProduct(_id);
            if (result.Result)
            {
                dataList = dataList.Where(p => p.ProductId != _id).ToList();
                filteredList = dataList;
                RefreshTablePage();
                selectedItem = null;
            }

            notif = new Business.Helpers.ResultHandler()
            {
                ResultMsg = result.ResultMsg,
                Result = result.Result,
            };
        }
    }
    private void SearchItem(ChangeEventArgs args)
    {
        var searchKey = args.Value.ToString();
        if (string.IsNullOrEmpty(searchKey))
        {
            filteredList = dataList;
            RefreshTablePage();
            return;
        }
        filteredList = dataList.Where(c => c.Name.Contains(searchKey)).ToList();
        RefreshTablePage();

    }

    private bool showConfirmModal = false;
    private void getConfirmModalResult(bool _result)
    {
        if (_result)
        {
            DeleteClick();
        }
        showConfirmModal = false;
    }
    private void ChangeCategoryFilter(ChangeEventArgs args) {
        var selectedCategory = Convert.ToInt32(args.Value.ToString());
        if (selectedCategory==0)
        {
            filteredList = dataList;
            RefreshTablePage();
            return;
        }
        filteredList = dataList.Where(p => p.CategoryId == selectedCategory).ToList();
        RefreshTablePage();
    }
}